@import "tailwindcss";
  body * {
    font-weight: 500;
  }

  .gg-detail {
    position: relative!important;
    z-index: 9999!important;
}
/* virtulallynews css */
.nvs-clamp-title, .nvs-clamp-dec{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
}
a.flex.items-center.gap-4 {
    display: inline-flex;
}

/* //virtulallynews css */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  [id] {
    scroll-margin-top: 72px; /* nav height offset */
  }


}
